html{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

hr{
  margin: 2rem auto;
}

a{
  margin-right: 1rem;
  text-decoration: none;
}

.active{
  font-weight: bold;
  color: #61dafb;
}